* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #212121;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ************* section pseudo classes starts here ************* */

/* .btn {
    border: 2px solid blue;
border: 2px solid blue;
    padding: .6rem;
    border-radius: 10px;
    background-color: aqua;
    transition: all 0.5s;
} */


/* :hover */

/* .btn:hover {
    background-color: black;
    color: white;
    scale: 1.1;
} */

/* input:focus {
    outline: none;
    outline-color: red;

} */

.btn:active {
    background-color: red;
}

/* 
a:visited {
    color: white;
} */



/*

/* input:active {
    outline-color: red;
} 
    
.a:visited {
    color: green;
    display: none;
}

.b:visited {
    color: green;
    display: none;
}*/

/* ************* section pseudo classes ends here ************* */

/* ************* section Pseudo elements starts here ************* */

.btn {
    border: none;
    padding: .6rem;
    border-radius: 10px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.btn::after {
    position: absolute;
    top: 30px;
    left: 0;
    content: '';
    color: black;
    /* background-color: #2c3e50; */
    overflow: hidden;
    /* height: 100%; */
    width: 00%;
    /* border: 2px solid #212121; */
    border-bottom: 2px solid #212121;
    z-index: -1;
    transition: all 0.4s;
}


.btn:hover::after {
    width: 100%;

}

/* .btn:hover {
    color: white;
} */


/* p:last-child {
    font-size: 16px;
    color: red;
} */
/* 
p {
    color: white;
} */

/* p::first-line {
    color: red;
} */


/* ************* section Pseudo elements ends here ************* */