* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
    width: 100vw;
    /* overflow: hidden; */
}


.container {
    font-size: 120px;
}

p {
    border: 2px solid red;
    background-color: rgb(100, 86, 67);
    font-size: 4vw;
    /* width: 80vw;
    height: 80vmax; */
    height: calc(100vh - 40vh);
}


/* ************* section header starts here ************* */


header {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: antiquewhite;

}


header nav {
    display: flex;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 50px;


}

header nav ul li {
    list-style: none;
}

/* ************* section header ends here ************* */