@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#Please {
    font-family: 'poppins', 'Times New Roman', Times, serif;
    font-size: normal;
    text-align: center;
    color: rgb(0, 136, 255);
    background-color: antiquewhite;
    /* text-shadow: 12px 12px 15px rgb(255, 0, 0) */
    /* font-weight: 600; */
    /* font-style: oblique; */
    /* text-decoration: overline underline line-through; */

}

#grandChild u {
    text-decoration: none;
}



/* 
.Please {
    font: italic 900 1.6rem/1.9 'poppins', sans-serif;
} */





















/* #grandChild { */
/* line-height: 60px; */
/* letter-spacing: 10px; */
/* word-spacing: 20px; */
/* text-indent: 60px; */
/* } */