* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}

.container {
    height: 95vh;
    width: 95vw;
    background-color: #212121;
    border: 2px solid white;
    margin: auto;
}

.box1 {
    height: 9.5vh;
    width: 9.5vw;
    background-color: aliceblue;

    animation: codeToHandle 3s ease-in-out 2s infinite alternate;

}



@keyframes codeToHandle {
    0% {}

    50% {
        transform: translate(500px, 500px);

    }

    100% {
        transform: translate(1000px, 500px);
    }

}








.box2 {
    height: 9.5vh;
    width: 9.5vw;
    margin-top: 10px;
    background-color: rgb(43, 108, 165);
    transition: all 2s;

}






.box2:hover {
    scale: 2;
    background-color: red;
    border-radius: 25px;

}